<%- include("partials/_header") %>
<%- include("partials/_navigation") %>

      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Welcome Back</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  contact -->
      <div id="contact" class="contact">
         <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
               <div class="col-md-12">
                  <form id="request" class="main_form" method="post" action="/users/login">
                     <div class="row">
                       
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="email"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Password" type="password" name="password"> 
                        </div>
                    
                        
                        <div class="col-md-12">
                           <button class="send_btn">Login</button>
                        </div>
                     </div>
                  </form>
               </div>
               
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
      <%- include("partials/_footer") %>

     